
/* the credentials checking div */ 

#titleslide {
  width: 100%;
  display: flex !important;
  flex-direction: column;
  place-items: center;
}

#creds {
  min-width: 20%;
  display: flex;
  flex-direction: column;
  place-items: center;
}

#creds input {
  width: 100%;
}

